<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="login-reg.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <title>Todo Login</title>
</head>
<body>
  <div class="login-page">
    <div class="form">
      <%- include ('./partials/messages') %>
      <form class="login-form" action="/login" method="POST">
        <label for="email-login"></label>
        <input type="text" name="email" id="email-login" placeholder="email" />
        <label for="password-login"></label>
        <input type="password" name="password" id="password-login" placeholder="password" />
        <button type="submit">login</button>
        <p class="message">Not registered? <a href="/register">Create an account</a></p>
      </form>
    </div>
  </div>
</body>
</html>
