<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo List</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">
    <h1>Todo App</h1>
    <a href="/logout"><button class="logout">logout</button></a>
    <div class="header">
      <input type="search" class="search" placeholder="Search">
      <span class="search-icon">🔎</span>
      <form class="addText">
        <input type="text" class="add" placeholder="Enter your text ">
        <button class="addItem" type="submit">Add Item</button>
      </form>
    </div>
    <span class="line"></span>
    <ul class="list"></ul>
    <div class="page-nav">
      <button class="home">First</button>
      <a href=""><button  id="pr" class="prev">Prev</button></a>
      <div class="pageNum"></div>
      <a href=""><button id="ne" class="next">Next</button></a>
      <a href=""><button id="ls" class="last">Last</button></a>
    </div>
  </div>
  <template id="item">
    <li class="list-item">
      <p class="text-filled"></p>
      <div class="icons">
        <div class="copy point">Copy</div>
        <div class="edit point">Edit</div>
        <div class="delete point">Delete</div>
        <p class="date"></p>
      </div>
    </li>
  </template>
  <script src="index.js"></script>
</body>

</html>
